.Form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.conteiner_fields {
    margin-bottom: 20px;
    text-align: center;
}

.error_message {
    text-align: center;
    color: var(--cor_erro-fechar);
    font-family: var(--fonte_destaque);
    font-size: 1.1rem;
    font-weight: bold;
    font-style: italic;
}

.conteiner_button {
    margin-bottom: 20px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.create_icon {
    font-size: 1.5rem;
}

.save_icon {
    font-size: 1.2rem;
}