@/spec_projeto_costs_v5.md Essa é a estrutura padrão do projeto, toda e qualquer alteração antes de realizada deve ser consultado o arquivo. É um guia, um manual, toda e qualquer alteração deve passar pela minha aprovação antes de realizada, entendido? Atenção: Você deve apenas ler este arquivo para seguir as instruções, nunca altere o conteúdo dele.
