.Nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-width: 100%;
    height: auto;
    min-height: 100px;
    padding: 15px;

    background-color: var(--cor_fundo);
}

.conteiner_menu {
    order: 1;
}

.abrir_menu {
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 10px;
}

.fechar_menu {
    font-size: 2rem;
    color: var(--cor_erro-fechar);
    margin-bottom: 10px;
}

.lista_itens_menu {
    display: none;
    list-style: none;
}

.itens_menu {
    display: block;

    font-family: var(--fonte_padrao);
    font-size: var(--tamanho_menus);
    font-weight: bold;

    text-decoration: none;
    color: #ffffff;
    margin-bottom: 10px;
}

.menu_ativo {
    display: block;
}

.itens_menu:active {
    color: var(--cor_destaque);
}

.logo {
    order: 2;
    width: 100%;
    max-width: 4rem;
    height: auto;
}