.CriarProjeto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.CriarProjeto h1 {
   margin-bottom: 30px;
}

.CriarProjeto p {
    margin-bottom: 50px;
    text-align: center;
}

.conteiner_nome_projeto,
.conteiner_orcamento_projeto,
.conteiner_categoria_projeto {
    margin-bottom: 30px;
}

.CriarProjeto button {
    margin-top: 30px;
}