.select {
    min-width: 250px;
    height: 40px;
    font-family: var(--fonte_paragrafo);
    font-size: 1rem;
    font-weight: bold;
    color: var(--cor_label);
    text-align: center;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.option {
    text-align: left;
    color: #000000;
    font-weight: bold;
}