@charset "UTF-8";

@font-face {
  font-family: "Sansation";
  src: url(assets//fonts//Sansation-Bold.ttf) format(truetype);
}

@font-face {
  font-family: "Oxanium";
  src: url(assets//fonts//Oxanium-VariableFont_wght.ttf) format(truetype);
}

@font-face {
  font-family: "Nunito";
  src: url(assets//fonts//Nunito-VariableFont_wght.ttf) format(truetype);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cor_fundo: #222222;
  --cor_destaque: #af8615;
  --cor_paragrafo: #808080;
  --cor_label: #4e4e4e;
  --cor_sucesso: darkgreen;
  --cor_erro-fechar: darkred;

  --fonte_padrao: "Nunito", "sans-serif";
  --fonte_paragrafo: "Oxanium", "sans-serif";
  --fonte_destaque: "Sansation", "sans-serif";

  --tamanho_h1: 2rem;
  --tamanho_h2: 1.5rem;
  --tamanho_p: 1.3rem;
  --tamanho_span: 2.2rem;
  --tamanho_menus: 1.3rem;

  --layout_celular: 320px;
  --layout_tablet: 768px;
  --layout_desktop: 1280px;
}

html, body, #root {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-width: 100%;
  min-height: 100vh;
  min-height: 100dvh;

  background-color: #e7e7e7;
}